<!DOCTYPE html>
<html lang="ru" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if options.blog_title %}<title>{% block title_prefix %}{% endblock %}{{ options.blog_title }}</title>{% endif %}
    {% if options.blog_favicon_ico %}<link rel="shortcut icon" href="{{ options.blog_url }}/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">{% endif %}
    {% if options.blog_favicon_png %}<link rel="icon" href="{{ options.blog_url }}/favicon.png" sizes="16x16" type="image/png">{% endif %}
    <link rel="stylesheet" href="{{ options.blog_url }}/theme.css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Mono&subset=latin,cyrillic" rel="stylesheet">
  </head>
  <body>
    <header class="navbar">
      <div class="navbar-inner">
        <h1><a class="link" href="{{ options.blog_url }}">{{ options.blog_title }}</a></h1>
      </div>
    </header>
    <div class="body-inner">
      {% block body %}{% endblock %}
      <footer>
        <a href="mailto:{{ options.author_email }}">{{ options.author_name }}</a> &copy; 2014
      </footer>
    </div>
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
  </body>
</html>
