<!DOCTYPE html>
<html lang="ru" style="overflow-y: scroll">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if options.blog_title %}<title>{{ options.blog_title }}</title>{% endif %}
    {% if options.blog_favicon_ico %}<link rel="shortcut icon" href="{{ options.blog_url }}/favicon.ico" sizes="32x32" type="image/vnd.microsoft.icon">{% endif %}
    {% if options.blog_favicon_png %}<link rel="icon" href="{{ options.blog_url }}/favicon.png" sizes="16x16" type="image/png">{% endif %}
    <link rel="stylesheet" href="{{ options.blog_url }}/theme.css">
  </head>
  <body>
    <div class="body-inner">
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
