/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
 * Љ static blog generator.
 * Pavel Perestoronin (c) 2014
 */

body {
    font: 15px/19.5px "PT Sans", sans-serif;
    background: #f6f5f3;
    padding-top: 80px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    border-bottom: 1px solid #dedede;
}

.navbar-inner, .body-inner {
    margin: 0 auto;
}

.body-inner {
    width: 800px;
}

.navbar-inner {
    padding: 16px 0;
    width: 1000px;
}

a {
    text-decoration: none;
}

.navbar a {
    font-size: 24px;
    color: black;
}

.navbar a:hover {
    color: #dd0000;
}

article {
    background: #f6f5f3;
    margin-bottom: 37px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 3px 4px -3px rgba(0, 0, 0, .3);
    color: #525050;
}

article .body {
    padding: 13px 64px 25px;
    border-bottom: 1px solid #dedede;
    background: white;
}

article h2 {
    margin: 16px 0;
    font-size: 32px;
    line-height: 36px;
}

article h2 a {
    color: #525050;
}

article p {
    margin: 15px 0;
}

article h3 {
    font-weight: bold;
    margin: 15px 0;
    line-height: 1.3;
}

article ol {
    list-style: decimal outside;
}

article ul {
    list-style: square outside;
}

p a {
    color: #0f6fb3;
}

p a:hover, body footer a:hover {
    color: red;
}

code {
    background: #fafafa;
    font-family: "PT Mono", monospace;
}

pre {
    background: #fafafa;
    padding: 15px;
    overflow-x: scroll;
}

article footer {
    line-height: 64px;
    text-align: center;
}

body footer {
    font-size: 13px;
    color: #888;
    line-height: 64px;
}

body footer a {
    color: #888;
}

.date, .tag {
    color: #888;
    font-size: 13px;
}

.date:hover, .tag:hover {
    color: red;
}

.reference::after {
    clear: both;
    display: block;
    height: 0;
    content: '';
}

.tags {
    float: right;
    text-align: right;
}

.tag {
    background: #fafafa;
    padding: 0 5px;
}
